* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  background: #9b2a2a;
  background: linear-gradient(
    152deg,
    rgba(155, 42, 42, 1) 0%,
    rgba(163, 163, 163, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 5rem;
  color: white;
  text-align: center;
  padding: 3rem 0;
}

.container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  justify-items: center;
  width: 90%;
  margin: 0 auto;
}

.number-input-container {
  border-radius: 50px;
  padding: 4rem 2rem;
  width: 90%;
  background: #cc8500;
  background: linear-gradient(
    313deg,
    rgba(204, 133, 0, 0.62) 0%,
    rgba(163, 163, 163, 1) 100%
  );
  justify-self: end;
  box-shadow: 0px 2px 15px black;
}

.form-title {
  font-size: 4rem;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

tr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

td label {
  font-size: 3.5rem;
}

td input {
  font-size: 3rem;
  padding: 10px 20px;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 30px;
  width: 80%;
}

.submit {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 3rem;
  margin-top: 3rem;
  padding: 20px 0;
  width: 50%;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
}

.submit:hover {
  color: white;
  background-color: black;
}

.balls-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  padding: 3rem;
  background: #1fcc00;
  background: linear-gradient(
    313deg,
    rgba(31, 204, 0, 0.62) 0%,
    rgba(163, 163, 163, 1) 100%
  );
  border-radius: 50px;
  box-shadow: 0px 2px 15px black;
}

.balls-display img {
  width: 10rem;
}

.lotto-image {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #ffffff;
  background: linear-gradient(
    313deg,
    rgba(255, 255, 255, 0.68) 0%,
    rgba(163, 163, 163, 1) 100%
  ); */
  border-radius: 50px;
  padding: 4rem 8rem;
  width: 100%;
  height: 100%;
  justify-self: start;
  position: relative;
}

.lotto-image img {
  width: 60rem;
  position: absolute;
}

.window {
  display: none;

  position: fixed;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.window-content {
  background-color: white;
  border-radius: 40px;
  text-align: center;
  padding: 5rem 0;
  width: 30%;
  position: relative;
}

.window-title {
  font-size: 4rem;
  margin-bottom: 30px;
  margin-top: 30px;
}

.window-balls img {
  width: 20%;
}

.close {
  cursor: pointer;
  border: none;
  position: absolute;
  top: 15px;
  right: 20px;
}

.close svg {
  width: 3.5rem;
}
